.main {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .sidenav-container {
    height: 580px;
    position: relative;
  }
  
  .sidenav-content {
    width: 100%;
  }
  
  .sidenav {
    width: 180px;
  }
  
  .sidenav .mat-toolbar {
    background: #fff;
    color: #fff;
  }
  
  .toolbar-icon {
    padding: 0 0px;
  }
  
  .sidenavContainer {
    height: 100%;
    
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .active {
    font-weight: bold;
    background-color: #CFCFCF;
    color: darkred;
  }
  
  .active:active {
    font-weight: bold;
    background-color: lightpink;
  }
  
  .active-icon {
    color: rgb(211, 70, 70);
  }

  /* ************************ */

  .mat-toolbar{
    background-color: rgb(39, 37, 37);
    z-index: 5;
    position: sticky;
  }

  .mat-sidenav-content{
    /* background-color: rgb(34, 185, 185); */
    background-image:url('bg9.jpg');
    background-size: cover;
  background-position: center;
  }

   .mat-sidenav {
    /* height: calc(100vh - 65px); */
    /* background-color:  #def6f8; */
    background-color:  rgb(211, 211, 211)
}
 
 /*.mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002B5C;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.content {
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
} */

.logo{
  float:left;
  padding: 8px;
}

@media all and (max-width:300px){
  .newColor{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  .toggle{
    order:2;
    display: flex;
  }
  button{
    order: 2;
    width: auto;
    display: block;

  }
  .item{
    order: 1;
  }
  .logo{
    flex: 1;
  }

}