.main {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .sidenav-container {
    height: 92%;
    position: relative;
  }
  
  .sidenav-content {
    width: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: #fff;
    color: #fff;
  }
  
  .toolbar-icon {
    padding: 0 0px;
  }
  
  .sidenavContainer {
    height: 100%;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .active {
    font-weight: bold;
    background-color: #CFCFCF;
    color: darkred;
  }
  
  .active:active {
    font-weight: bold;
    background-color: lightpink;
  }
  
  .active-icon {
    color: red;
  }

  .newColor{
    background-color: #000;
    position: fixed;
     top: 0;
     z-index:1000;
  }