<body>
    <h1 style="color: #fff; padding-top: 5%; font-style: italic;">Our TODO Application makes your life easy by maintaining your day-to-day tasks or list everything that we have to do,</h1>
    <p style="color: #fff;">It is helpful in planning our daily schedules. We can add more tasks at any time and delete a task that is completed.</p>
    <p style="color: #fff; text-align: center; font-size: x-large; font-style: italic; margin-top: 50px;">OUR TEAM MEMBERS</p>
<figure class="snip1533">
    <figcaption>
      <blockquote>
        <h3 style="text-decoration: underline; font-weight: 500; color: #161515;">Sai Sandeep</h3>
        <p style="font-weight: 500; color: #d2652d;">Certified NIIT Full Stack Software Engineer</p>
      </blockquote>
      <h4 style="font-weight: 500; color: #d2652d;">srirangapuramsaisandeep@gmail.com</h4>
      <!-- <h4>Google Inc.</h4> -->
    </figcaption>
  </figure>
  <figure class="snip1533">
    <figcaption>
      <blockquote>
        <h3 style="text-decoration: underline; font-weight: 500;">Garga Chakrabarty</h3>
        <p style="font-weight: 500; color: #d2652d;">Certified NIIT Full Stack Software Engineer</p>
        <!-- <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p> -->
      </blockquote>
      <h4 style="font-weight: 500; color: #d2652d;">gargachak@gmail.com</h4>
      <!-- <h4>Facebook</h4> -->
    </figcaption>
  </figure>
  <figure class="snip1533">
    <figcaption>
      <blockquote>
        <h3 style="text-decoration: underline; font-weight: 500; color: #161515;">Akash Mittal</h3>
        <p style="font-weight: 500; color: #d2652d;">Certified NIIT Full Stack Software Engineer</p>
      </blockquote>
      
      <h4 style="font-weight: 500; color: #d2652d;">akashmittal1130@gmail.com</h4>
      <!-- <h4>Twitter</h4> -->
    </figcaption>
  </figure>
</body>