<body>
  <div class="hero">
    <p>GET IN TOUCH</p>
  </div>
  <div class="para">
    <p>DON'T BE SHY</p>
    <h1>Feel free to get in touch with us. We are always open to discussing new projects,
       creative ideas or opportunities to be part of your visions.</h1>
  </div>
  <div class="phone">
    <i class="fa fa-phone fa-lg" style="color:#f0c10f" aria-hidden="true"></i> : 7330843717 | 9866135214 | 8374779868
  </div>
  <div class="phone">
    <i class="fa fa-envelope fa-lg" style="color:#f0c10f" aria-hidden="true"></i> : srirangapuramsaisandeep@gmail.com | akashmittal1130@gmail.com | gargachak@gmail.com 
  </div>
</body>