


<!-- <li><a routerLink="/todo">todoform</a></li> -->
<lib-ng-toast></lib-ng-toast>
<app-sidenav></app-sidenav>
<router-outlet></router-outlet>

 <!-- <app-navbar></app-navbar> -->
 <!-- <app-header></app-header> -->
 <!-- <app-footer></app-footer> -->
 <!-- <app-home></app-home>  -->
 <!-- <app-login></app-login>
 <app-registration></app-registration> -->
 <!-- <lib-ng-toast></lib-ng-toast> -->
 <!-- <li><a routerLink="/todo">todoform</a></li> -->
 <!-- <lib-ng-toast></lib-ng-toast>
 <router-outlet></router-outlet> -->

 <!-- <section class="app-component">
     <div class="row">
<div class="col-lg-2">
<div class="side-menu-list">
<ul></ul>
</div >

</div>
     </div>
 </section> -->