
            <!-- <h1 style="font-family: 'Noto Serif', serif; color: rgb(26, 25, 25);">Add Task Here</h1>  -->
            <!-- <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button> -->
             <mat-card class="mt-3" class="card">
                 <mat-card-title style="font-family: 'Noto Serif', serif;margin-bottom: 2rem; color: rgb(230, 65, 65); ">Add Task Here
</mat-card-title>
                    
                <form [formGroup]="taskform">
                    <div class="form-group" >

                        <div class="example-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Task Title</mat-label>
                                <input matInput placeholder="Enter Task" formControlName="title">
                                <div *ngIf="title?.invalid&& title?.touched" class="alert alert-danger">title Is
                                    Required..</div>
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="outline">
                            <mat-label>Deadline</mat-label>
                            <input matInput type="datetime-local" formControlName="deadline" #input
                                (change)="onChange(input.value)" [(ngModel)]="values" min="{{min}}">
                            <div *ngIf="deadline?.invalid && deadline?.touched" class="alert alert-danger">Deadline

                                Is
                                Required..</div>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Priority</mat-label>
                            <mat-select formControlName="priority">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let state of priorityList" [value]="state">{{state}}</mat-option>
                            </mat-select>
                            <div *ngIf="priority?.invalid && priority?.touched" class="alert alert-danger">Priority
                                Is Required...
                            </div>
                        </mat-form-field>

                        <div class="example-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <input matInput placeholder="Enter Description" formControlName="description">
                                <div *ngIf="description?.invalid&& description?.touched" class="alert alert-danger">
                                    Description Is
                                    Required..</div>
                            </mat-form-field>
                        </div>

                        <div><button  type="button" class="btn btn-primary btn-sm" color="accent" (click)="saveToOfficialTask()"
                            [disabled]="!taskform.valid">ADD OFFICIALTASK</button></div>
                        <div><button   style="border-left: left 10px; margin-top: 7px;" type="button" class="btn btn-primary btn-sm" (click)="saveToPersonalTask()" 
                            [disabled]="!taskform.valid">ADD PERSONALTASK</button></div>
                         <div>  <button type="button" class="btn btn-danger btn-sm" style="border-left: left 10px; margin-top: 7px;"  (click)="resetButton() "
                            [disabled]="!taskform.valid">RESET</button></div> 
                    </div>
                </form>
            </mat-card>



            
<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
            <form [formGroup]="taskform">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Task Title</label>
                   <input matInput placeholder="Enter Task Title" formControlName="title" class="form-control">
                   <div *ngIf="title?.invalid&& title?.touched" >title Is
                       Required..</div>
                </div> 
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">DeadLine</label>
               <input matInput type="datetime-local" formControlName="deadline" #input class="form-control"
                                (change)="onChange(input.value)" [(ngModel)]="values" min="{{min}}">
             <span class="text-danger" *ngIf="deadline?.invalid && deadline?.touched" >Deadline is Required..</span>
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >Priority</label>
                <mat-select formControlName="priority" class="form-control" >
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let state of priorityList" [value]="state">{{state}}</mat-option>
                </mat-select>
                <span  class="text-danger" *ngIf="priority?.invalid && priority?.touched" >Priority
                    Is Required...
                </span>
            </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >Password</label>
                <input matInput placeholder="Enter Description" formControlName="description" class="form-control">
                                <span class="text-danger" *ngIf="description?.invalid&& description?.touched" class="alert alert-danger">
                                    Description Is Required..</span>
            </div>
            <button  type="button" class="btn btn-outline-danger" (click)="saveToOfficialTask()"
                [disabled]="!taskform.valid"[hidden]="addbuttonhidden">ADD TO OFFICIAL TASK</button>
            <button type="submit" class="mt-2 " style="border-left: left 10px;" mat-raised-button color="accent" (click)="saveToPersonalTask()" 
                [disabled]="!taskform.valid" [hidden]="addbuttonhidden">ADD TO PERSONALTASK</button>
            <button mat-raised-button color="primary" class="mt-2 ml-5"  (click)="isUpdatedOfficialTask();resetButton() "
                [hidden]="officialbuttonDisabled">UPDATE OFFICIAL TASK</button>
            <button mat-raised-button color="primary" class="mt-2 ml-2" (click)="isUpdatedPersonalTask(); resetButton() "
                [hidden]="personalbuttonDisabled">UPDATE PERSONAL TASK</button>
                <button mat-raised-button color="warn" class="mt-2 ml-2" (click)="resetButton() "
                [disabled]="!taskform.valid">RESET</button>
            </form>
            
        </div>
      </div>
    </div>
</div>  -->

