.card{
    margin-top: 10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top:53%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgb(255, 255, 255);
    /* background: linear-gradient(90deg, rgb(134, 133, 133) 0%, rgb(255, 255, 255) 100%); */
  }
  
  .card h1,h6{
   color:rgb(0, 0, 0);
  }
  label{
    color:rgb(0, 0, 0);
   }
   