.card{
    margin-top: 10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top:53%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgb(170, 169, 169);
  background: linear-gradient(90deg, rgb(119, 119, 121) 0%, rgb(97, 96, 96) 100%);
  }
  
  .card h1,h6{
   color:rgb(17, 17, 17);
  }
  label{
    color:rgb(0, 0, 0);
   }
   