<!-- <app-header> -->

<!-- </app-header> -->


<!-- <mat-card-header colour="primary">
   <span>hoem design</span> -->
<!-- <div class="container">
      <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Home</div>
        <div class="page__content shadow p-3 position-relative">
          <div class="page__content-data position-absolute text-center">
            <h1>todo application solve you you all your problem and make you up to date in every day to day life</h1>
          </div>
        </div>
      </div>
    </div>
  </mat-card-header> -->


<!-- <li routerLink="/taskform">taskform</li> -->

<!-- </body>
 

<app-footer>
    
</app-footer> -->

<!-- <app-navbar></app-navbar> -->


<!-- *************************************************************************** -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="home">
  <!-- <img src="assets/images/bg.jpg" /> -->
  <img src="assets/images/bg9.jpg">
  <div class="homecontent">

    <h1 style="color: rgb(211, 70, 70); font-family: 'PT Serif', serif; font-size: 50px;">Organize Your Life,</h1>
    <h1 style="color: rgb(211, 70, 70);font-family: 'PT Serif', serif;">Work and Schedule</h1>
    <a routerLink="/login" class="btn btn-lg btn-primary">Get Started</a>
    <p>"Start your journey with us to plan your day to day life"</p>
  </div>

</header>
<!-- <section class="style1">
  <img src="assets/images/bg2.jpg">
</section> -->
<footer id="sticky-footer" class=" py-3  text-white-50" style="background-color:rgb(39, 37, 37);">
  <div class="container text-center">

    <small>Copyright &copy; ToDo</small>
    <small style="margin-left: 5px;">@Since 2022</small>
    <small style="margin-left: 5px;"><a routerLink="/contactUs">Contact us</a></small>
    <small style="margin-left: 5px;"><a routerLink="/aboutUs">About us</a></small>
    <br>
    <div class=" footer-icon stickyicon-list">
      <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
      <a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
      <a href="https://in.pinterest.com/"  target="_blank" class="fa fa-pinterest"></a>
      <a href="https://www.linkedin.com/signup" target="_blank" class="fa fa-linkedin"></a>
      <a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank" class="fa fa-instagram"></a>
      <a href="https://www.youtube.com/"  target="_blank" class="fa fa-youtube"></a>
    </div>
  </div>
</footer>